body{
	<!--background-color: #F3C290;-->
}

thead>tr{
	background-color: #c0c0c0;
}
thead th{
	text-align: center;
}
.pagination li{
	cursor: pointer;
}
.page-num{
	height:79px;
	line-height:79px;
	margin-left:10px;
	margin-right:15px;
}
.left-menu{
	width: 20%;
	background-color:#FF9100;
	overflow: hidden;
	padding-left: 1%;
	float: left;
}
.left-menu li a:AFTER{
	content: ">";
	display: inline;
}
.main-page{
	width: 78%;
	float: left;
}
.top-page{
	width: 100vw;
	height: 50px;
	padding-left: 2%;
	background-color: #FF9100;
	color: #fff;
	padding-top: 10px;
	font-size: 1.5em;
	margin-bottom: 10px;
}
.top-page a{
	color: #000;
	text-decoration: none;
	background: transparent;
	cursor: auto;
	margin-right: 2vw;
}
.foot-page{
	width: 100%; 
	height: 10%;
	overflow: hidden;
	text-align: center;
}